.home_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .searchButtons_container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
  }

  
  @media screen and (max-width: 1200px) {
    .searchButtons_container {
      width: 90vw;
    }
  }
  
  @media screen and (max-width: 1024px) {
    .searchButtons_container {
      width: 100vw;
    }
  }
  